<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::head},~{::main})}">
<head th:replace="~{head :: head(~{})}"></head>
<body>
<head th:replace="~{head :: head(~{})}"></head>
<main class="container">
    <h1>Pacientes</h1>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th colspan="2">Ações</th>

        </tr>
        </thead>
        <tr th:each="p : ${pacientes}">
            <td th:text="${p.getId()}"></td>
            <td th:text="${p.getNome()}"></td>
            <td th:text="${p.getTelefone()}"></td>
            <td><a th:href="@{/pessoa/paciente/edit/{id}(id=${p.id})}">Editar</a></td>
            <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                   th:href="@{/pessoa/paciente/remove/{id}(id=${p.getId()})}">Excluir</a></td>
        </tr>
    </table>
</main>
<div th:insert="~{footer :: footer}"></div>

</body>
</html>

